<html>
  <head>
    <link rel="stylesheet" href="temp.css" />
  </head>
  <body>
    <h1>Available Games</h1>
    <div class="lobby-box">
        <div class="lobby-header">
            <span class="lobby-name">[ Username ]'s Lobby</span>
            <span class="lobby-count">x/4</span>
        </div>
        <button class="join-btn">Join</button>
    </div>
  </body>
</html>