<html>
  <body>
    <h1>Users</h1>

    <form method="post" action="/users">
      <label for="username">Username:</label>
      <input type="text" name="username" />

      <label for="email">Email:</label>
      <input type="text" name="email" />

      <button type="submit">Create User</button>
    </form>

    <ul>
      <% for(let i = 0; i < userListing.length; i++) { 
        const user = userListing[i];
        %>
      <li>
        <%= user.id %>:
        <%= user.email %>,
        <%= user.username %>
      </li>
      <% } %>
    </ul>
  </body>
</html>