<html>
  <body>
    <h1>
      User
      <%= username %>
    </h1>

    <ul>
      <li>
        <%= user.id %>:
        <%= user.email %>,
        <%= user.username %>
      </li>
    </ul>
  </body>
</html>